@charset "utf-8";
@import url("../webfonts/Montserrat_SemiBold/stylesheet.css");
@import url("../webfonts/Helvetica/stylesheet.css");
header {
    height: 80px;
    width: auto;
    background-color: #FFFFFF;
    padding: 20px;
    /*box-sizing: border-box;*/
    text-align: center;
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
    color: #D76D15;
}
head{
	meta name="viewport" content="width=device-width, initial-scale=1.0"&amp;gt;
}
a {
color: #FFFFFF;
}
h2{
    text-align: left;
    color: #D76D15;
    font-family: "Montserrat SemiBold";
}
p{
    text-align: left;
    font-family: Helvetica;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: right;
    width: 25%;
    padding: 5px;
    border-color: #FFFFFF;
	

}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
nav{
height: 25px;
width:1000px;
background-color: #D76D15;
padding: 10px auto;
	border-radius: 5px;
	text-align: center; 
	margin-left: 250px; 
	margin-right: 250px;
/*box-sizing: border-box;*/
}
.fcc-btn {
  background-color: #258D19;
  color: #D76D15;
  padding: 15px 25px;
}
.formulario
{
	background-color: #258D19;
	color: #FFFFFF;
	padding: 1px 10px;
}
.navegacion ul{
	list-style: none;
	text-align: center;
	
}
.menu> li{
    display: inline-block;
    align-content: center;
    font-family: Helvetica;
}
* {box-sizing:border-box}


/*@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}*/
Section{
	width: 70%;
	height: auto;
	margin: 10px auto;
	padding: 5px;
	border-radius: 5px;	
}
table {
	border-color: #FFFFFF;	
	
}
td{
	border-color: #FFFFFF;
	text-align: left;
}

footer{
    align-content: center;
    text-align: left;
    font-family: Helvetica;	
}
h6{
	text-align: left;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #D76D15;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #258D19;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #D76D15;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
